@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import 'react-redux-toastr/src/styles/index';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Outfit', sans-serif;
	@apply bg-gray-900;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--primary-color: #e30b13;
}

input [type='file'],
input [type='file']::-webkit-file-upload-button {
	@apply cursor-pointer focus:outline-none;
}

input:focus {
	box-shadow: none !important;
}
::-webkit-scrollbar {
	width: 10px; /* ширина для вертикального скролла */
	height: 10px; /* высота для горизонтального скролла */
	@apply bg-gray-800;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	@apply bg-gray-700 transition-colors;
	// background-color: #e30b13;

	transition: background-color 0.3s ease-in-out;

	border-radius: 9em;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #434349;
}
